body {
	background-color: grey;
}

.container,
.header {
	position: relative;
}

.container,
.registration {
	overflow: hidden;
}

.container {
	max-width: 665px;
	max-height: 480px;
	display: grid;
	grid-template-columns: 137.2px 527.8px;
	column-gap: 0;
	background-color: #FFFFFF;
	margin: 50px;
}

/*Header*/
.header__title,
.footer__btn {
	font-family: 'PT Sans', sans-serif;
}

.header,
.footer__btn {
	background-color: #5A61ED;
}

.header__title,
.signup-icon {
	position: absolute;
}

.header__title {
	bottom: 70px;
	right: -45px;
	width: max-content;
	font-weight: 400;
	font-size: 49px;
	line-height: 63px;
	letter-spacing: 0.5px;
	color: #FFFFFF;
	transform: rotate(-90deg);
}

.signup-icon {
	width: 353px;
	height: 353px;
	bottom: -5px;
	right: -550px;
	z-index: 1;
}

/*Main*/
.registration,
.birthday__select,
.registration__footer {
	display: flex;
}

.registration,
.registration__header__title,
.registration__header__text,
.main__input::placeholder,
.nationality__select,
.day__select,
.month__select,
.year__select {
	color: #111111;
}

.registration,
.main__input::placeholder {
	font-family: 'Work Sans', sans-serif;
}

.registration,
.main__input::placeholder,
.registration__header__text,
.nationality__select,
.day__select,
.month__select,
.year__select {
	font-size: 14px;
	line-height: 16px;
}

.registration__main,
.registration__footer {
	align-items: center;
}

.nationality__select,
.footer__login__link,
.footer__btn {
	cursor: pointer;
}

.main__input,
.gender__text {
	display: block;
}

.main__input,
.day__select,
.month__select,
.year__select {
	border: none;
}

.nationality__select,
.day__select,
.month__select,
.year__select {
	padding: 0;
}

.main__input,
.day__select,
.month__select,
.year__select {
	border-bottom: 0.7px solid #F2F2F2;
}

.registration {
	flex-direction: column;
	padding: 38.52px 22px 32.38px 20.8px;
	z-index: 100;
}

.registration__header__title {
	font-size: 22px;
	font-weight: 500;
	line-height: 26px;
	letter-spacing: -0.46px;
}

.registration__main {
	display: grid;
	grid-template-columns: 234.5px 234.5px;
	column-gap: 15.5px;
	row-gap: 16.3px;
	margin: 20px 0 98.3px 0;
}

.main__title {
	font-size: 12px;
	line-height: 14px;
	color: #7C7C7C;
	padding-bottom: 4.6px;
}

.main__input {
	padding: 0 0 6.3px 0;
}

.nationality__select {
	text-align: left;
}

.birthday__select {
	column-gap: 9.88px;
}

.day__select,
.month__select,
.year__select {
	padding: 0;
}

select {
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding-bottom: 6.3px;
}

input[type="radio"] {
	width: 12px;
	height: 12px;
}

.gender__input {
	margin: 0;
}

.male__text {
	margin-right: 19px;
}

.birthdate__text,
.gender__text {
	padding-bottom: 5.3px;
}

.password__text,
.confirm__text {
	padding: 1.1px 0 3.3px 0;
}

.registration__footer {
	justify-content: space-between;
}

.footer__login__text {
	font-size: 13px;
	line-height: 15px;
	color: #000000;
}

.footer__login__link {
	color: #5A61ED;
}

.footer__btn {
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #FFFFFF;
	border: 0.5px solid #FFFFFF;
	padding: 7px 26px 7px 25px;
}

@media (max-width: 768px) {
	.container {
		max-width: 465px;
		max-height: 280px;
		grid-template-columns: 80px auto;
	}

	/*Header*/
	.header__title {
		bottom: 40px;
		right: -20px;
		font-size: 25px;
		line-height: 30px;
	}

	.signup-icon {
		width: 200px;
		height: 200px;
		bottom: -30px;
		right: -360px;
	}

	/*Main*/
	.registration {
		padding: 10px;
	}

	.registration__header__title {
		font-size: 15px;
		line-height: 15px;
	}

	.registration,
	.main__input::placeholder,
	.registration__header__text,
	.nationality__select,
	.day__select,
	.month__select,
	.year__select {
		font-size: 10px;
		line-height: 10px;
	}

	.registration__main {
		grid-template-columns: 150px 150px;
		column-gap: 30px;
		row-gap: 10px;
		margin: 10px 0 10px 5px;
	}

	.main__title {
		font-size: 11px;
	}

	.main__input {
		padding: 0;
	}

	.birthday__select {
		column-gap: 3px;
	}

	label {
		width: 70px;
	}

	input {
		width: 180px;
	}

	/*Main*/
	.footer__login__text {
		font-size: 11px;
	}

	.footer__btn {
		font-size: 12px;
		padding: 5px 20px 5px 20px;
	}
}

@media (max-width: 572px) {
	.container {
		max-width: 365px;
		max-height: 380px;
		margin: 10px;
	}

	/*Header*/
	.header__title {
		bottom: 40px;
		right: -15px;
		font-size: 20px;
		line-height: 10px;
	}

	.signup-icon {
		bottom: -15px;
		right: -290px;
	}

	/*Main*/
	.registration__main {
		grid-template-columns: 100px 100px;
		column-gap: 20px;
		row-gap: 5px;
		margin: 10px 0 10px 5px;
	}

	label {
		width: 50px;
	}

	input {
		width: 120px;
	}

	.main__title {
		font-size: 9px;
	}

	.registration,
	.main__input::placeholder,
	.nationality__select,
	.day__select,
	.month__select,
	.year__select {
		font-size: 8px;
		line-height: 0;
	}

	.birthday__select {
		display: grid;
		row-gap: 5px;
	}

	/*Footer*/
	.footer__login__text {
		font-size: 9px;
	}

	.footer__btn {
		font-size: 10px;
		padding: 3px 10px 3px 10px;
	}
}

@media (max-width: 460px) {
	.container {
		max-width: 265px;
		max-height: 380px;
		margin: 10px;
	}
}