body {
	background-color: grey;
}

label {
	max-height: 42px;
}

.container {
	position: relative;
	display: grid;
	grid-template-columns: 137.2px 527.8px;
	column-gap: 0;
	max-width: 665px;
	background-color: #FFFFFF;
	margin: 50px;
	overflow: hidden;
}

/*Header*/
.header {
	position: relative;
	height: 480px;
	background-color: #5A61ED;
}

.header__title {
	position: absolute;
	bottom: 70px;
	right: -45px;
	width: max-content;
	font-family: 'PT Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 49px;
	line-height: 63px;
	letter-spacing: 0.5px;
	color: #FFFFFF;
	transform: rotate(-90deg);
}

.signup-icon {
	position: absolute;
	bottom: -5px;
	right: -550px;
	z-index: 1;
}

/*Main*/
.registration {
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	line-height: 16px;
	color: #111111;
	display: flex;
	flex-direction: column;
	padding: 38.52px 22px 32.38px 20.8px;
	z-index: 100;
	overflow: hidden;
}

.registration__header__title {
	font-size: 22px;
	font-weight: 500;
	line-height: 26px;
	letter-spacing: -0.46px;
	color: #111111;
}

.registration__header__text {
	font-size: 14px;
	line-height: 16px;
	color: #111111;
}

.registration__main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 15.5px;
	row-gap: 16.3px;
	margin: 20px 0 104.3px 0;
}

.main__title {
	font-size: 12px;
	line-height: 14px;
	color: #7C7C7C;
	padding-bottom: 4.6px;
}

.main__input {
	display: block;
	width: 234.5px;
	border: none;
	border-bottom: 0.7px solid #F2F2F2;
	padding: 0;
	margin-bottom: 16.3px;
}

.main__input::placeholder {
	font-family: 'Work Sans', sans-serif;
	color: #111111;
	font-size: 14px;
	line-height: 16px;
}

.nationality__select {
	font-size: 14px;
	line-height: 16px;
	color: #111111;
	text-align: left;
	padding: 0;
	cursor: pointer;
}

.birthday__select {
	display: flex;
	column-gap: 9.88px;
}

.day__select, .month__select, .year__select {
	font-size: 14px;
	line-height: 16px;
	color: #111111;
	border: none;
	border-bottom: 0.7px solid #F2F2F2;
	padding: 0;
}

.day__select {
	width: 56px;
}

.month__select {
	width: 91px;
}

.year__select {
	width: 67.67px;
}

input[type="radio"] {
	width: 12px;
	height: 12px;
}

.gender__input {
	margin: 0;
}

.gender__text {
	display: block;
}

.male__text {
	margin-right: 19px;
}

.registration__footer {
	display: flex;
	justify-content: space-between;
}

.footer__login__text {
	font-size: 13px;
	line-height: 15px;
	color: #000000;}

.footer__login__link {
	color: #5A61ED;
	cursor: pointer;
}

.footer__btn {
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #FFFFFF;
	background: #5A61ED;
	border: 0.5px solid #FFFFFF;
	padding: 7px 26px 7px 25px;
	cursor: pointer;
}